<h1>Recherches par fromages</h1>

<button ><a href="/fromages/region"/>Recherches par région</a></button>
<button ><a href="/fromages/categorie"/>Recherche par catégorie</a></button>
<button ><a href="/fromages/pate"/>Recherches par pate</a></button>

<div id="content"></div>
<script type="text/javascript" src="./assets/javascripts/application.js"></script>

