<!--<footer>
	<p>2016 &copy Cindy Jacob web dev back-end site propulsed by Ruby on Rails </p>
	<p>jacobcindy@live.be | +32 (0) 471 66 40 71</p>
	
</footer>-->

<footer class="footer-distributed">

			<div class="footer-left">

				<!--<h3>Company<span>logo</span></h3>-->

				<p class="footer-links">
					<a href="/">Page principale</a>
					·
					<a href="/pages/about">A propos</a>
					·
					<a href="/pages/contact">Contactez-moi</a>
					·
					<a href="http://www.if3projets.net/wad15/cindy/">My website</a>
				</p>

				<p class="footer-company-name">Cindy Jacob super web dev Ruby! &copy; 2016</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Avenue de la Chasse, 94</span> 1040, Etterbeek</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+32 (0) 471 6 40 71 </p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:jacobcindy@live.be">jacobcindy@live.be</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About me</span>
					J'aime le vin, j'aime le code, quoi de plus logique que de coder une application concernant le vin! 
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>