<h3>Contact me!</h3>

<p>If you have some questions about our choice, or if you want to purpose us a new wine or a new cheese that you've discover, please send us all the informations and we add your proposition on the website! 
</p>
<p>If you met some problems about the website, about your account, please send us an email with all the informations and we're looking for a solution as soon as possible! </p>
<p>If you, just want to congratulate us about our website, idea, puposition please send us chocolate, wine, flowers, books, all gift you want to offer us, at this address -> Cindy Jacob, Avenue de la Chasse 94, 1040 Etterbeek
	Thanks a lot ( I love food! It's the perfect leitmotiv for continue what I do ) 
</p>





<a href= "mailto:jacobindy@live.be">Contact me </a>