<h1>Recherche par vin</h1>


<button ><a href="/locations/index"/>Recherches par région</a></button>
<button ><a href="/vin/couleur"/>Recherche par couleur</a></button>
<button ><a href="/vin/cepage"/>Recherches par cepage</a></button>

<div id="content"></div>
<script type="text/javascript" src="./assets/javascripts/application.js"></script>
